<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
  </head>
  <body>
    <form method="POST" action="calculator"> 
      <%= csrf_token_field %>
      <br>
      <input id="operator_1" type="number" name="operator_1"> <br>
      
      <input id="plus" type="radio" name="operation" value="+">Sum<br>
      <input id="subtract" type="radio" name="operation" value="-">Subtract<br>
      <input id="average" type="radio" name="operation" value="average">Average<br>
      
      <input id="operator_2" type="number" name="operator_2"> <br>
      <br>
      <input type="submit" value="Submit" id="submit"/> <br>
    </form>
    <br>
    Result: <%= @result %> <br>
    <br>
    Total operations: <%= @memory %> <br>
    <br>
    <!--<%= button_to "Refresh", :action => "refresh", :name => "refresh" %>-->
    <input type="submit" value="Refresh" id="refresh"/>
  </body>
</html>